<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Block-chain</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<H1 align= "center" style="margin-top: 24px;">Welcome to block chain</H1>
	<div class="container">
		<div class="row">
			<div class="col-lg-6" align="center" style="margin-top: 16px">
		<h3>Register Land</h3>
		<form class="jumbotron" action="registerLand" method="post" style="max-width: 400px">
			<input class="form-control" type="text" name="owner" placeholder="Owner" maxlength="20"><br>
			<input class="form-control" type="text" name="city" placeholder="City Name" maxlength="20"><br>
			<input class="form-control" type="text" name="area" placeholder="Area Name" maxlength="20"><br>
			<input class="form-control" type="number" name="khasraNumber" placeholder="Khasra Number" maxlength="20"><br>
			<input class="form-control" type="date" name="date" placeholder="Date of Registry" maxlength="10"><br>
			<button type="Submit" class="btn btn-danger form-control">Submit</button>
		</form>
	</div>
	<div class="col-lg-6" align="center" style="margin-top: 16px">
		<h3>Search Land</h3>
		<form class="jumbotron" action="getLand" method="post" style="max-width: 400px">
			<input class="form-control" type="text" name="city" placeholder="City Name" maxlength="20"><br>
			<input class="form-control" type="text" name="area" placeholder="Area Name" maxlength="20"><br>
			<input class="form-control" type="number" name="khasraNumber" placeholder="Khasra Number" maxlength="20"><br>
			<button type="Submit" class="btn btn-success form-control">Search</button>
		</form>
	</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>